* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: 2px solid red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navigation .left {
    float: left;
}

.navigation .right {
    float: right;
}

header h1 {
    margin-bottom: 20px;
}

.navigation {
    background-color: blue;
    font-size: 20px;
    padding: 10px 25px;
}

main {
    width: 200px;
    height: calc(100vh -150px);
}

#calendario li {
    margin: 10px 0;
}

#calendario li.festa {
    color: red;
}

#calendario {
    margin-left: 400px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#calendario li {
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid green;
}

#calendario li:first-child {
    margin-left: 300px;
}
